.btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 15px;
  min-width: 130px;
  height: 40px;
}

.btn-primary {
  background-color: #ec2127 !important;
  border: 1px solid #ec2127 !important;
}
.btn-primary:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
  background: transparent !important;
  color: #ec2127 !important;
}

.dark-title {
  color: #858d90;
}

.red-title {
  color: #a70106;
  font-weight: bold;
  text-transform: capitalize;
}

.p {
  color: #697174;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-outline-primary {
  color: #ec2127 !important;
  border: 1px solid #ec2127 !important;
}
.btn-outline-primary:hover {
  transition: all 0.3s ease;
  transform: scale(1.05);
  background: #ec2127 !important;
  color: white !important;
}

.text-justify {
  text-align: justify;
}

img {
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

#hero {
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), url("../images/image1.jpg");
  background-size: cover;
  background-position: center;
}
#hero h1,
#hero p {
  text-shadow: 1px 1px 15px #000;
  padding-bottom: 1rem;
}

#services {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/servicesBG.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vmin;
  /* Style the arrow icons */
}
#services .banner {
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("../images/servicesBG.jpg");
  background-size: cover;
  background-position: center;
  width: 70em;
  height: 130px;
  position: absolute;
  top: -50px;
}
#services .content-title {
  margin-top: 100px;
}
#services .row > * .card,
#services #cardCarousel > * .card {
  width: 100%;
  height: 200px;
  border: none;
  background: transparent;
}
#services .row > * .card .card-body,
#services #cardCarousel > * .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#services .row > * .card .card-body .fa,
#services #cardCarousel > * .card .card-body .fa {
  color: #313131;
  font-size: 40px;
  margin-bottom: 15px;
}
#services .row > * .card .card-body .card-title,
#services #cardCarousel > * .card .card-body .card-title {
  color: #a70106;
  font-weight: bold;
  margin-bottom: 0;
}
#services .row > * .card .card-body .card-text,
#services #cardCarousel > * .card .card-body .card-text {
  color: #858d90;
}
#services .row > *:hover,
#services #cardCarousel > *:hover {
  border: solid 3px #a70106;
  transition: all 0.1s ease;
  border-radius: 5px;
}
#services .row > *:hover .card-body .fa,
#services #cardCarousel > *:hover .card-body .fa {
  color: #a70106;
  transition: all 0.3s ease;
}
#services #cardCarousel {
  display: none;
}
#services .carousel-control-prev,
#services .carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: auto; /* Adjust to only fit the icon */
  height: auto; /* Adjust to only fit the icon */
  color: transparent; /* Hide button text */
  background: none; /* Remove background */
  border: none; /* Remove border */
  cursor: pointer;
  outline: none;
  padding: 0; /* Remove padding */
}
#services .carousel-control-prev-icon,
#services .carousel-control-next-icon {
  display: block;
  width: 20px; /* Adjust icon size */
  height: 20px; /* Adjust icon size */
  background-size: 100%; /* Make icon fill its container */
  background-color: transparent; /* Ensure no background color */
  filter: invert(100%); /* Optional: to make the icon white */
}
#services .carousel-control-prev:hover,
#services .carousel-control-next:hover {
  background: rgba(0, 0, 0, 0.7);
}
@media (max-width: 992px) {
  #services .banner {
    display: none;
  }
  #services .content-title {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  #services .collapse-row > * {
    display: none;
  }
  #services #cardCarousel {
    display: block;
  }
  #services .carousel-inner > * .card {
    border: solid 3px #a70106;
  }
}

.projects #myCarousel .carousel-inner > .carousel-item {
  width: 100%;
  height: 480px;
  background-size: cover;
  background-position: center;
}

#email .form-floating {
  position: relative;
}
#email .form-floating .fa {
  position: absolute;
  color: #a70106;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
  z-index: 100;
}
#email .form-floating label,
#email .form-floating .form-control {
  left: 0.5rem;
  padding-left: 3.5rem;
}
#email .form-floating .fa-text-area {
  position: absolute;
  top: 1.8rem;
  left: 1.25rem;
  color: #a70106;
}

.footer {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../images/servicesBG.jpg");
  background-size: cover;
  background-position: center;
}
.footer .map {
  padding: 30px 0;
}
.footer .map .mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 400px;
}
.footer .map .gmap_canvas {
  border-radius: 5px;
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 400px;
}
.footer .map .gmap_iframe {
  height: 400px !important;
}/*# sourceMappingURL=style.css.map */