$gray-darkest-hex: #191919;
$gray-darker-hex: #313131;
$gray-dark-hex: #697174;
$gray-hex: #858d90;
$gray-light-hex: #e6e4e4;
$gray-lightest-hex: #f6f6f6;
$primary-darkest-hex: #760104;
$primary-hex: #a70106;
$secondary-dark-hex: #697174;
$secondary-hex: #858d90;
$secondary-light-hex: #e6e4e4;
$content-font: "Montserrat", sans-serif;

.btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 15px;
  width: 130px;
  height: 40px;
}

.btn-primary {
  background-color: #ec2127 !important;
  border: 1px solid #ec2127 !important;

  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
    background: transparent !important;
    color: #ec2127 !important;
  }
}

.dark-title {
  color: $secondary-hex;
}

.red-title {
  color: $primary-hex;
  font-weight: bold;
}

.p {
  color: $secondary-dark-hex;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-outline-primary {
  color: #ec2127 !important;
  border: 1px solid #ec2127 !important;

  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
    background: #ec2127 !important;
    color: white !important;
  }
}

.text-justify {
  text-align: justify;
}

img {
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

#hero {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../images/image1.jpg");
  background-size: cover;
  background-position: center;

  h1,
  p {
    text-shadow: 1px 1px 15px #000;
    padding-bottom: 1rem;
  }
}

#services {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../images/servicesBG.jpg");
  background-size: cover;
  background-position: center;
  position: relative;

  .banner {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/servicesBG.jpg");
    background-size: cover;
    background-position: center;
    width: 70em;
    height: 130px;

    position: absolute;
    top: -50px;
  }

  .content-title {
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
  }

  @media (max-width: 992px) {
    .banner {
      text-align: center;
      width: 100%;
      height: 30%;
    }

    .card {
      display: none;
    }
  }

  @media (max-width: 768px) {
    .content-title {
      top: 0;
      transform: translateY(0);
    }

    .card {
      display: none;
    }
  }

  @media (max-width: 700px) {
    .banner {
      height: 40%;
    }

    .content-title {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (max-width: 576px) {
    .banner {
      height: 45%;
    }
  }
/*
  .card-wrap {
position: absolute;
bottom: 105px;
.card-group{
  .card {
        
    width: 230px;
    height: 130px;
  
    
      .fa {
        font-size: 20px;
        line-height: 10px;
        color: $gray-darker-hex;
      }
    
    

    .card-title {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      text-transform: capitalize;
      color: $primary-hex;
      margin-top: 10px;
    }

    .card-text {
      font-size: 18px;
      font-weight: 500;
      color: $gray-hex;
      text-transform: capitalize;
    }
  }
}

.carousel{
  .fa {
    font-size: 20px;
    line-height: 10px;
    color: $gray-darker-hex;
  }



.card-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
  color: $primary-hex;
  margin-top: 10px;
}

.card-text {
  font-size: 18px;
  font-weight: 500;
  color: $gray-hex;
  text-transform: capitalize;
}
}
      */

      @media (max-width: 1199.98px) {
        .card-group {
          display: none;
        }
        .carousel {
          display: block;
        }
      }
      @media (min-width: 991.98px) {
        .card-group {
          display: flex;
        }
        .carousel {
          display: none;
        }
      }

    }

    
  
    .card:hover {
      border: solid 3px $primary-hex;
      transition: all 0.1s ease;
      border-radius: 5px;

      .icon {
        .fa {
          color: $primary-hex;
          transition: all 0.3s ease;
        }
      }
    }
  



.projects {
  #myCarousel {
    .carousel-inner > .carousel-item {
      height: 480px;
      background-size: cover;
      background-position: center;
    }
  }
}

#email {
  .form-floating {
    position: relative;

    .fa {
      position: absolute;
      color: $primary-hex;
      top: 50%;
      transform: translateY(-50%);
      left: 1.25rem;
      z-index: 100;
    }

    label,
    .form-control {
      left: 0.5rem;
      padding-left: 3.5rem;
    }

    .fa-text-area {
      position: absolute;
      top: 1.8rem;
      left: 1.25rem;
      color: $primary-hex;
    }
  }
}

.footer {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../images/servicesBG.jpg");
  background-size: cover;
  background-position: center;

  .map {
    // border-right: 2px solid $primary-hex;
    padding: 30px 0;
    .mapouter {
      position: relative;
      text-align: right;
      width: 100%;
      height: 400px;
    }
    .gmap_canvas {
      border-radius: 5px;
      overflow: hidden;
      background: none !important;
      width: 100%;
      height: 400px;
    }
    .gmap_iframe {
      height: 400px !important;
    }
  }
}
