$gray-darkest-hex: #191919;
$gray-darker-hex: #313131;
$gray-dark-hex: #697174;
$gray-hex: #858d90;
$gray-light-hex: #e6e4e4;
$gray-lightest-hex: #f6f6f6;
$primary-darkest-hex: #760104;
$primary-hex: #a70106;
$secondary-dark-hex: #697174;
$secondary-hex: #858d90;
$secondary-light-hex: #e6e4e4;
$content-font: "Montserrat", sans-serif;

.btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 15px;
  min-width: 130px;
  height: 40px;
}

.btn-primary {
  background-color: #ec2127 !important;
  border: 1px solid #ec2127 !important;

  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
    background: transparent !important;
    color: #ec2127 !important;
  }
}

.dark-title {
  color: $secondary-hex;
}

.red-title {
  color: $primary-hex;
  font-weight: bold;
  text-transform: capitalize;
}

.p {
  color: $secondary-dark-hex;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.btn-outline-primary {
  color: #ec2127 !important;
  border: 1px solid #ec2127 !important;

  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
    background: #ec2127 !important;
    color: white !important;
  }
}

.text-justify {
  text-align: justify;
}

img {
  border-radius: 5px;
  background-size: cover;
  background-position: center;
}

#hero {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../images/image1.jpg");
  background-size: cover;
  background-position: center;

  h1,
  p {
    text-shadow: 1px 1px 15px #000;
    padding-bottom: 1rem;
  }
}

#services {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../images/servicesBG.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;

  .banner {
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("../images/servicesBG.jpg");
    background-size: cover;
    background-position: center;
    width: 70em;
    height: 130px;

    position: absolute;
    top: -50px;
  }

  .content-title {
    margin-top: 100px;
  }

  .row > *,
  #cardCarousel > * {
    .card {
      width: 100%;
      height: 200px;
      border: none;
      background: transparent;

      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .fa {
          color: $gray-darker-hex;
          font-size: 40px;
          margin-bottom: 15px;
        }

        .card-title {
          color: $primary-hex;
          font-weight: bold;
          margin-bottom: 0;
        }

        .card-text {
          color: $gray-hex;
        }
      }
    }

    &:hover {
      border: solid 3px $primary-hex;
      transition: all 0.1s ease;
      border-radius: 5px;

      .card-body {
        .fa {
          color: $primary-hex;
          transition: all 0.3s ease;
        }
      }
    }
  }

  #cardCarousel {
    display: none;
  }

  .carousel-control-prev,
  .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto; /* Adjust to only fit the icon */
    height: auto; /* Adjust to only fit the icon */
    color: transparent; /* Hide button text */
    background: none; /* Remove background */
    border: none; /* Remove border */
    cursor: pointer;
    outline: none;
    padding: 0; /* Remove padding */
  }

  /* Style the arrow icons */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: block;
    width: 20px; /* Adjust icon size */
    height: 20px; /* Adjust icon size */
    background-size: 100%; /* Make icon fill its container */
    background-color: transparent; /* Ensure no background color */
    filter: invert(100%); /* Optional: to make the icon white */
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background: rgba(0, 0, 0, 0.7);
  }
}

.projects {
  #myCarousel {
    .carousel-inner > .carousel-item {
      width: 100%;
      height: 480px;
      background-size: cover;
      background-position: center;
    }
  }
}

#email {
  .form-floating {
    position: relative;

    .fa {
      position: absolute;
      color: $primary-hex;
      top: 50%;
      transform: translateY(-50%);
      left: 1.25rem;
      z-index: 100;
    }

    label,
    .form-control {
      left: 0.5rem;
      padding-left: 3.5rem;
    }

    .fa-text-area {
      position: absolute;
      top: 1.8rem;
      left: 1.25rem;
      color: $primary-hex;
    }
  }
}

.footer {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("../images/servicesBG.jpg");
  background-size: cover;
  background-position: center;

  .map {
    padding: 30px 0;

    .mapouter {
      position: relative;
      text-align: right;
      width: 100%;
      height: 400px;
    }
    .gmap_canvas {
      border-radius: 5px;
      overflow: hidden;
      background: none !important;
      width: 100%;
      height: 400px;
    }
    .gmap_iframe {
      height: 400px !important;
    }
  }
}

@media (max-width: 992px) {
  #services {
    height: 200vh;
  }

  .banner {
    display: none;
  }
  .content-title {
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  #services {
    height: 160vh;
  }

  .collapse-row > * {
    display: none;
  }

  #cardCarousel {
    display: block;
  }
}
