$primary-hex: #a70106;
$primary-lightest-hex: #ec2127;

.btn {
  min-width: 100px;
  color: white;
  background-color: $primary-lightest-hex;
  transition: all 0.3s ease;

  &:hover {
    transition: all 0.3s ease;
    transform: scale(1.05);
  }
}

.text-justify {
  text-align: justify;
}

img {
  border-radius: 5px;
  background-position: center;
}

#hero {
  background: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("/images/image1.jpg");
  background-size: cover;
  background-position: center;
}

#services {
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("/images/servicesBG.jpg");
  background-size: cover;
  background-position: center;
}
